src/main/resources/wsdl/InspienGetRecruitingTestServicesInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="InspienGetRecruitingTestServicesInfo" targetNamespace="http://inspien.co.kr/Recruit/Test"
                  xmlns:p1="http://inspien.co.kr/Recruit/Test" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_InspienGetRecruitingTestServicesInfo"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://inspien.co.kr/Recruit/Test" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://inspien.co.kr/Recruit/Test">
            <xsd:element name="MT_RecruitingTestServices" type="MT_RecruitingTestServices"/>
            <xsd:element name="MT_RecruitingTestServicesResponse" type="MT_RecruitingTestServicesResponse"/>
            <xsd:complexType name="MT_RecruitingTestServices">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">85aef48406f411ec96ec00000023069a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="NAME" type="xsd:string"/>
                    <xsd:element name="PHONE_NUMBER" type="xsd:string"/>
                    <xsd:element name="E_MAIL" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MT_RecruitingTestServicesResponse">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">26bc7b5d06fb11ec840b00000023069a</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="XML_DATA" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">9d2bcd0c06f811ecbf2e54e1ad18d99c
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="JSON_DATA" type="xsd:string">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">9d2bcd0d06f811ec8c3b54e1ad18d99c
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="DB_CONN_INFO">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">9d2bcd1306f811ec849b54e1ad18d99c
                            </xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="HOST" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            9d2bcd0e06f811eccf9154e1ad18d99c
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PORT" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            9d2bcd0f06f811eccd5d54e1ad18d99c
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="SID" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            9d2bcd1006f811ec854a54e1ad18d99c
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="USER" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            9d2bcd1106f811ec94b754e1ad18d99c
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PASSWORD" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            9d2bcd1206f811ecc83154e1ad18d99c
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="TABLENAME" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="FTP_CONN_INFO">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">9d2bcd1906f811ec94e954e1ad18d99c
                            </xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="HOST" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            9d2bcd1406f811eccab754e1ad18d99c
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PORT" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            9d2bcd1506f811ecb05c54e1ad18d99c
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="USER" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            9d2bcd1606f811ec9cf754e1ad18d99c
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PASSWORD" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            9d2bcd1706f811ec998b54e1ad18d99c
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="FILE_PATH" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">
                                            9d2bcd1806f811ecb75a54e1ad18d99c
                                        </xsd:appinfo>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MT_RecruitingTestServices">
        <wsdl:documentation/>
        <wsdl:part name="MT_RecruitingTestServices" element="p1:MT_RecruitingTestServices"/>
    </wsdl:message>
    <wsdl:message name="MT_RecruitingTestServicesResponse">
        <wsdl:documentation/>
        <wsdl:part name="MT_RecruitingTestServicesResponse" element="p1:MT_RecruitingTestServicesResponse"/>
    </wsdl:message>
    <wsdl:portType name="InspienGetRecruitingTestServicesInfo">
        <wsdl:documentation/>
        <wsdl:operation name="InspienGetRecruitingTestServicesInfo">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_InspienGetRecruitingTestServicesInfo"/>
            </wsp:Policy>
            <wsdl:input message="p1:MT_RecruitingTestServices"/>
            <wsdl:output message="p1:MT_RecruitingTestServicesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InspienGetRecruitingTestServicesInfoBinding" type="p1:InspienGetRecruitingTestServicesInfo">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"
                      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="InspienGetRecruitingTestServicesInfo">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"
                            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InspienGetRecruitingTestServicesInfoService">
        <wsdl:port name="HTTP_Port" binding="p1:InspienGetRecruitingTestServicesInfoBinding">
            <soap:address
                    location="http://inspien:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=INSPIEN&amp;receiverParty=&amp;receiverService=&amp;interface=InspienGetRecruitingTestServicesInfo&amp;interfaceNamespace=http%3A%2F%2Finspien.co.kr%2FRecruit%2FTest"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:InspienGetRecruitingTestServicesInfoBinding">
            <soap:address
                    location="https://inspien:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=INSPIEN&amp;receiverParty=&amp;receiverService=&amp;interface=InspienGetRecruitingTestServicesInfo&amp;interfaceNamespace=http%3A%2F%2Finspien.co.kr%2FRecruit%2FTest"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>